<header>
    <div class="header-row">
        <div class="logo">
            <h1>
                <a href="">
                    public<span>library</span>
                </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Catalog<span>🠇</span>
                    <ul class="sub-menu">
                        <li>Graphic Books</li>
                        <li>Audio books</li>
                        <li>Videos 🠆
                            <ul class="sub-menu">
                                <li>Promo</li>
                                <li>Short films</li>
                                <li>Feature Films</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#create">Create</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>