<div id="new-item">
    <figure class="view-item">
        <!--<a href="#" class="magnifier2">-->
            <img src="images/placeholder.png" alt="">
                            <span class="zoom">
                                <input type="text" class="zoom_txt1" id="title" placeholder="Title">
                                <input type="text" class="zoom_txt2" id="author" placeholder="Author">
                                <input type="text" class="zoom_link" id="description" placeholder="Description">
                                <input type="file" id="new-file"><br>
                                <input type="submit" id="new-item-subm" value="Share">
                            </span>
        <!--</a>-->
    </figure>
</div>